html
{
    font-size: 10pt;
    font-variant-ligatures: discretionary-ligatures;
}

body  /*Global parameters*/
{
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
}

#title  /*Website title and subtitle deets*/
{
    margin-top: 2em;
    margin-bottom: 0em;
    text-align: center;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(246, 221, 34);
}

nav /*MENU SETUP*/
{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgb(217, 216, 216);
    margin: 1em, 0em, 0em, 0em;
}

.dropbtn  /*Organizing dropdown buttons*/
{
    padding: 1em;
    margin: 1em;
    background-color: rgb(217, 216, 216);
    border-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
}

.dropdown  /*dropdown setup*/
{
    position: relative;
    display: inline-block;
}

.dropdown-content  /*dropdown content base*/
{
    display: none;
    position: absolute;
    background-color: rgb(217, 216, 216);
    font-size: 1.5em;
    padding: 1em;
    top: 100%;
    z-index: 1;
}

.dropdown-content a
{
    display: block; 
    color: black;
}

.dropdown:hover .dropdown-content  /*show dropdown on hover*/
{
    display: block;
}

.dropdown-content a:link
{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-style: solid;
}

.dropdown-content a:hover
{
   text-decoration-line: none;
   color: rgb(91, 89, 89);  
}

#intro
{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(217, 216, 216);
}

#index-meme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

#aletazo
{
    color: rgb(30, 30, 30);
}

#aletazo p
{
    color: rgb(30, 30, 30);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(246, 221, 34);
    text-align: center;
    font-weight: 200;
    font-size: 2em;
  }
  
  body {
    width: 640px;
    margin: 0 auto;
      background-color: rgb(30, 30, 30);
      overflow-x: hidden;
  
  }

  button {
    width: 25vw;
    font-size: 1.5em;
    background-color: rgb(246, 221, 34);
    color: rgb(30, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 2.5%;
}