/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */

  
  /* Rulesets to be matched up with selectors */
  .card
  {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header
  {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    padding: 1em;
  }

  .card header h2
  {
    font-size: 2em;
    transform: translateY(0.25em);
  }
  
  .card footer
  {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1em; 
  }

  .card footer p
  {
    font-size: 1.5em; 
    transform: translateY(0.5em);
  }
 
  .card article img
  {
    max-height: 100%;
    float: right;
  }

  .card h2, p
  {
    margin: 0%;
  }

  .card article
  {
    height: 12em;
    background-color: rgba(0, 0, 0, 0.35);
  }
  
  .card h2
  {
    font-size: 2em;
  }

  .card article p
  {
    color: white;
    padding-left: 1em;
    transform: translateY(2em);
    font-size: 1em;
  }

  .card2
  {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(47, 47, 47);
    border: 0.2em none black;
    border-radius: 1.5em;
  }
  
  .card2 header
  {
    background-image: linear-gradient(to bottom,rgba(137, 137, 137, 0.447), rgba(0, 0, 0, 0));
    border-radius: 1.5em 1.5em 0 0;
    height: 3em;
    padding: 1em;
  }

  .card2 header h2
  {
    font-size: 2em;
    transform: translateY(0.25em);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: antiquewhite;
  }
  
  .card2 footer
  {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(99, 99, 99, 0.447));
    border-radius: 0 0 1.5em 1.5em;
    height: 3em;
    padding: 1em; 
  }

  .card2 footer p
  {
    font-size: 1.5em; 
    transform: translateY(0.5em);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
  }
 
  .card2 article img
  {
    max-height: 100%;
    float: right;
  }

  .card2 h2, p
  {
    margin: 0%;
  }

  .card2 article
  {
    height: 12em;
    background-color: rgba(0, 0, 0, 0.35);
  }
  
  .card2 h2
  {
    font-size: 2em;
  }

  .card2 article p
  {
    color: antiquewhite;
    padding-left: 1em;
    transform: translateY(1.75em);
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }