html
{
    font-size: 10pt;
}

h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.area
{
    background-image: url(../img/Screenshot_2024-02-21_161114.png);
    width: 1919px;
    height: 1059px;
}

#scoreboard
{
    color: white;
    padding: 1.5em 1.5em 1.5em 1.5em;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 90%;
}

#time
{
    padding: 0.25em 0.5em;
    background-color: rgb(26, 26, 26);
    border-bottom: 0.2em solid rgb(216, 136, 15);
    font-weight: lighter;
}

/*Teams */
#PAN
{
    padding: 0.25em 0.5em;
    background-color: rgb(48, 84, 36);
    border-right: rgb(225, 223, 223) 0.2em solid;
}

#MHA
{
    padding: 0.25em 0.5em;
    background-color: rgb(84, 157, 59);
    border-left: rgb(225, 223, 223) 0.2em solid;
}

/*Score*/
.score
{
    padding: 0.25em 0.5em;
    background-color: white;
    color: rgb(26, 26, 26);
    border-left: 0.05em solid rgb(226, 206, 206);
    border-right: 0.05em solid rgb(26, 26, 26);
}

.area img
{
    transform: scale(150%) translate(1125px, 560px);
}